fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg[binary]

python-dotenv
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

pyotp
qrcode[pil]

jinja2
python-multipart

httpx

pytest
pytest-asyncio

email-validator